<p-toolbar class="toolbar">
    <p-button label="Nova Reserva" icon="pi pi-plus" (click)="direcionarCadastrar()"></p-button>
    <i class="pi pi-search"></i>
    <input pInputText type="text" placeholder="Search..." style="color: white;"/>
</p-toolbar>

<p-dialog header="Cadastrar Reserva" [(visible)]="displayForm">
    <div class="p-fluid">
        <div class="p-field">
            <input type="text" pInputText placeholder="Data de Inicio">  
        </div>
        <div class="p-field">
            <input type="text" pInputText placeholder="Data de Fim">    
        </div>
        <div class="p-field">
            <input type="text" pInputText placeholder="Preço Total">     
        </div>
        <div class="p-field">
            <p-button label="Submit" icon="pi pi-check" iconPos="right"></p-button>    
        </div>
    </div>       
</p-dialog>

<p-table [value]="listaReservas">
    <ng-template pTemplate="header">
        <tr>
            <th>Data de Inicio</th>
            <th>Data de Fim</th>
            <th>Preço Total</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-reserva>
        <tr>
            <td>{{reserva.dataInicio}}</td>
            <td>{{reserva.dataFim}}</td>
            <td>{{reserva.total}}</td>
            <td>
                <p-button label="Editar" icon="pi pi-angle-up" class="p-button-raised" (click)="direcionarEditarReserva()"></p-button>
                <p-button label="Cancelar" icon="pi pi-times" class="p-button-raised" (click)="direcionarDeletarReserva()"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>


