.card {
    border-radius: 5px;
    box-shadow: 0 6px 5px -4px rgba(0,0,0,.15);
    background-color: #fff;
    color: #141414;
    margin-bottom: 20px;
    position: relative;
    border: 0;
    transition: box-shadow .2s ease,-webkit-transform .3s cubic-bezier(.34,2,.6,1);
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease,-webkit-transform .3s cubic-bezier(.34,2,.6,1);
}

.p-button-sm{
    
    margin-right: 1%;
}
.row {
    display: flex;
    
    margin-right: 15px;
    
}

.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
    margin-right: 8px;
}

.main-content {
    padding: 0 30px 30px;
    min-height: calc(100vh - 123px);
    margin-top: 93px;
}

.col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
}

.card-stats .card-body .numbers {
    text-align: right;
    font-size: 2em;
}

.card-stats .card-body .numbers .card-category {
    color: #9a9a9a;
    font-size: 16px;
    line-height: 1.4em;
}

.card-stats .card-body .numbers p {
    margin-bottom: 10;
}

.stats {
    color: #9a9a9a;
}

