<div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-body ">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-globe text-warning"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p  class="card-category">Clientes</p>
                            <p [id]="numClientes" class="card-title">
                              <p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer ">
                      <hr>
                      <div class="stats">
                                <button pButton type="button" label="" icon="pi pi-replay" class="p-button-sm"></button>
                                <i class="fa fa-calendar-o"></i> Atualizar
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-body ">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-money-coins text-success"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-category">Equipamentos</p>
                            <p class="card-title">1,345
                              <p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer ">
                      <hr>
                      <div class="stats">
                                <button pButton type="button" label="" icon="pi pi-replay" class="p-button-sm"></button>
                                <i class="fa fa-calendar-o"></i> Atualizar
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-body ">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-vector text-danger"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-category">Salas</p>
                            <p class="card-title">999
                              <p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer ">
                      <hr>
                      <div class="stats">
                                                
                                <button pButton type="button" label="" icon="pi pi-replay" class="p-button-sm"></button>
                                <i class="fa fa-calendar-o"></i> Atualizar
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-body ">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-favourite-28 text-primary"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-category">Reservas</p>
                            <p class="card-title">450
                              <p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer ">
                      <hr>
                      <div class="stats">
                        
                        <button pButton type="button" label="" icon="pi pi-replay" class="p-button-sm"></button>
                        <i class="fa fa-calendar-o"></i> Last day

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
        <p-chart type="bar" [data]="data"></p-chart>