<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="row">
                    <div class="numbers">
                        <p class="card-title">
                            {{ clientes?.length }}
                        </p>
                        <p class="card-category">Clientes</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr />
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="row">
                    <div class="numbers">
                        <p class="card-title">
                            {{ equipamentos?.length }}
                        </p>
                        <p class="card-category">Equipamentos</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr />
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="row">
                    <div class="numbers">
                        <p class="card-title">
                            {{ salas?.length }}
                        </p>
                        <p class="card-category">Salas</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr />
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="row">
                    <div class="numbers">
                        <p class="card-title">
                            {{ reservas?.length }}
                        </p>
                        <p class="card-category">Reservas</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr />
            </div>
        </div>
    </div>
</div>

<!-- <p-chart type="bar" [data]="data"></p-chart> -->
